@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
/* Base container & typography */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/*Variables*/
$white: #FFFFFF;
$blue: #C0C0C0;
$black: #000000;
$orange: #FFB273;
$silver: #383838;

$f-accent: 'Boogaloo', cursive;
$f-base: 'Roboto Condensed', sans-serif;